body {
  background-color: #fff;
}
.faq {
  padding-top: 10rem;
  min-height: 120vh;
  background-color: #fff;
}
.btn2 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: inline-block;
  padding: 1.3rem 3rem;
  font-size: 1.5rem;
  font-weight: 520;

  border-radius: 0.5rem;
  border: 0.1rem solid #fff;
  cursor: pointer;
  color: #fff;
  background: none;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.btn2:hover,
.btn2:focus,
.btn2:active {
  color: #fff;
  color: #000;
  background-color: rgba(13, 168, 199, 1);
  border-color: rgba(13, 168, 199, 1);
  font-weight: 620;
}
.header2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  background: var(--black);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  box-shadow: var(--box-shadow);
}
.header2 .right2 {
  display: flex;
  align-items: center;
}
.header2 .right2 .navbar2 {
  padding-left: 2rem;
}
.header2 .right2 .navbar2 a {
  padding: 0 0.3rem;
}
.header2 .logo2 {
  height: 50px;
  width: 50px;
}
.header2 .logo2 img{
  height: 100%;
  width: 100%;
}


.header2 .navbar2 a {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  margin: 0 1rem;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
}
.header2 .navbar2 a:hover {
  color: var(--blue);
}
.header2 .icons2 {
  font-size: 2.6rem;
}
.header2 .icons2 i {
  color: #fff;
  padding-right: 2rem;
}
.header2 .icons2 .btn2 {
  letter-spacing: 0.2rem;
}
#menu-btn2 {
  display: none;
}
.accordion {
  margin-top: 50px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
}
.accordion h2 {
  font-size: 40px;
}
.accordion-item button {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 15px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  /* color: var(--blue); */
}
.accordion-item:hover button {
  color: #0da8c7;
  /* color: red; */
}
.accordion-body{
  text-transform: none;
}

.footer .box-container .box p,
.footer .box-container .box a{
  text-decoration: none;

}

@media (max-width: 768px) {
  #menu-btn2 {
    display: inline-block;
  }
  .header2 .navbar2 {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: var(--black);
  }
  .header2 .navbar2.active {
    right: 2rem;
    transition: 0.3s linear;
  }
  .header2 .navbar2 a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  .accordion {
    margin-top: 50px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato", sans-serif;
  }
  .accordion h2 {
    font-size: 30px;
  }
}
